<!doctype html>
<title>Hello from Memora</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Essa Página Pertence ao POD: {{ name }}</h1>
  <h1>By: David!!</h1>
  <br>
  <<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmobile.twitter.com%2Faerpfailed&psig=AOvVaw3sqmLVq1yLIL1uofd1QI8L&ust=1652282087713000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCMjB_Mic1fcCFQAAAAAdAAAAABAD">>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
