<!doctype html>
<title>Hello from Memora</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Esta Página Pertence ao POD: {{ name }}</h1>
  <br>
  <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t39.30808-6/245341306_1487326314967901_8530352810879603500_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeF3iM5VmeQnlCtznQL5Ko1zf8Y1hK6S25B_xjWErpLbkKIe_PJqLoF76nZzw9C-cp1cNF2iSLcCNHWQdiVVNiXn&_nc_ohc=9pN_cFPf4X4AX8SvGe9&_nc_ht=scontent-gru2-2.xx&oh=00_AT--U5RpfpfHa5UryLekFAOfCV2kzb-wW7NH1nwekPq1jw&oe=6285D2C3">
  <br>
  <h1>By: David!!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
