<!doctype html>
<title>Hello from Memora</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Essa Página Pertence ao POD: {{ name }}</h1>
  <h1>By: David!!</h1>
  <br>
  <img src="https://pbs.twimg.com/profile_images/1478713709824561159/jmSw5Wr4_400x400.jpg">
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
